fastapi
uvicorn[standard]
youtube-transcript-api
python-dotenv
langchain-core
langchain-text-splitters
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
langchain-google-genai
